.circle {
    width: 200px;
    height: 200px;
    background-color: magenta;
    transition: 1s; 
    /* transition: all 1s; */
    /* Both ABOVE: everything transitions in 1 second */
    /* transition: background-color 1s; */
    /* ABOVE: only the BG color is transitioning in 1 second */
    transition: background-color 1s, border-radius 1.5s;
    /* transition: PROPERTY NAME   DURATION   TIMING FUNCTION   DELAY */
}

.circle:hover {
    border-radius: 50%;
    background-color: cyan;
}

section div {
    height: 50px;
    width: 50px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-left 3s;
}

section:hover div {
    margin-left: 500px;
}


/* Easing eaxamples */
div:nth-of-type(1) {
    transition-timing-function: ease-in;
}
div:nth-of-type(2) {
    transition-timing-function: ease-out;
}
div:nth-of-type(3) {
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
div:nth-of-type(4) {
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}