.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--desat-blue);
}

.attribution a {
    color: var(--desat-blue);
    /* color: hsl(228, 45%, 44%); */
}

:root {
    --cyan: hsl(185, 75%, 39%);
    --desat-blue: hsl(229, 23%, 23%);
    --gray-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%); 
}

/*
Default layout - Mobile: 375px
Desktop: 1440px
*/

body {
    font-size: 18px;
    letter-spacing: 0.03em;
    color: var(--gray-blue);
    font-family: 'Kumbh Sans', sans-serif;
    background: -300px -300px / 500px no-repeat url("images/bg-pattern-top.svg"), 200px 300px / 500px no-repeat url("images/bg-pattern-top.svg");
    background-color: var(--cyan);
}

.bold {
    font-weight: 700;
    color: var(--desat-blue);
}

#squares {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.box-sm {
    width: 50px;
    height: 50px;
}

.box-lg {
    margin: auto;
    width: 150px;
    height: 65px;
}

.mini {
    font-size: 0.7em;
    letter-spacing: 0.1em;
}

.mini2 {
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

main {
    text-align: center;
    margin: auto;
    width: 90%; 
    max-width: 340px;
    padding-top: 6em;
}

main > div {
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
    border-bottom-left-radius: 0.9em;
    border-bottom-right-radius: 0.9em;
    box-shadow: 0 0 5px -5px var(--desat-blue);
}

.cardTop {
    height: 140px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: center/cover url("images/bg-pattern-card.svg");
}

.cardBottom {
    padding-top: 4.4em;
    padding-bottom: 1em;
    background-color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.avatar {
    border-radius: 50%;
    box-sizing: content-box;
    border: thick solid white;
    position: sticky;
    margin: 90px -50px;
}

@media (min-width: 1200px) {
    body {
        font-family: 'Kumbh Sans', sans-serif;
        background: 0px -400px / 700px no-repeat url("images/bg-pattern-top.svg"), 700px 400px / 700px no-repeat url("images/bg-pattern-top.svg");
        background-color: var(--cyan);
    }
}