body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height values is 100 "view height" units (viewport height) */
    height: 100vh;
    background-color: #151b29;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    /* transition: all 0.25s; */
    /* Or you can choose each element to transition */
    transition: color 0.25s, border-color 0.25s, box-shadow 0.30s, transform 0.15s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    /* box-shadow values as follows:  X-offset  Y-offset  blur-radius  spread  color */
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

#nohover:hover {
    border-color: #ff7070;
    color: rgb(112, 47, 47);
    box-shadow: 0 -0.5em 0.5em -0.4em #ff7070;
    transform: translateY(0.5em);
    text-decoration: 1px line-through;
    cursor: pointer;
}