div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: #81b29a;
}

#static #middle {
    position: static;
    /* default value top, bottom, left, right, z-index have no effect */
    top: 100px;
}

#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
    /* The <div> is positioned offset FROM the top and left of where is would be positioned in normal flow... top moves it DOWN, unless using negative values, etc. */
}

#absolute {
    position:relative;
}

#absolute #middle {
    position: absolute;
    top: 50px;
    left: 50px;
}

#fixed #middle {
    position: fixed;
    top: 0;
    left: 0;
}