/*  Style Guide

The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

White: hsl(0, 0%, 100%)
Light gray: hsl(212, 45%, 89%)
Grayish blue: hsl(220, 15%, 55%)
Dark blue: hsl(218, 44%, 22%)

Body Copy:
Font size (paragraph): 15px
Font family: [Outfit](https://fonts.google.com/specimen/Outfit)
Weights: 400, 700 
*/

:root {
    --gray-1: hsl(212, 45%, 89%);
    --blue-1: hsl(220, 15%, 55%);
    --blue-2: hsl(218, 44%, 22%);
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--gray-1);
    text-align: center;
    padding-top: 125px;
}

@media (max-width: 375px) {
    body {
        padding-top: 70px;
    }
}

h2 {
    font-size: 1.35rem;
    padding: 2px 15px 0 15px;
    color: var(--bule-2);
}

p {
    color: var(--blue-1);
    padding-left: 25px;
    padding-right: 25px;
}

img {
    width: 300px;
    border-radius: 15px;
}

div {
    margin: 0 auto;
}

#container {
    background-color: white;
    border-radius: 25px;
    max-width: 330px;
    box-shadow: 0 0 15px 0 hsla(217, 45%, 22%, 0.0.25);
}

.container-mini-1 {
    padding: 15px;
    padding-bottom: 0;
}

.container-mini-2 {
    padding: 15px;
    padding-top: 0;
}

.attribution {
    padding-top: 5px;
}