/*
Universal selector (selects EVERYTHING including stuff that doesn't have these properties).
* {
    background-color: cyan;
}
*/

body {
    background-color: #f1faee;
}

::selection {
background-color: #a6a0be;
}

/*
Places the content listed before or after the element it's assigned to (anchor links in this case.
*/
a::before {
    content: "⇉";
    color: #807700;
}
  
a::after {
    content: "⇇";
    color: #807700;
}

p::selection {
    background-color: #00ff0d;
}

button {
    font-size: 25px;
    background-color: #a8dadc;
    border-radius: 100px;
}

#login, #signup {
    border-radius: 5px;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

h1, h2 {
    color: #1d3557;
}

h2::first-letter {
    font-size: 50px;
    font-weight: 700;
}

span {
    color: #457b9d
}

/*
Selects every second "post" and uses these attributes.
*/
.post:nth-of-type(2n){
    background-color: #a8dadc;
}
/*
To select the second only, you would have ".post:nth-of-type(2)"
*/

.post a {
    color: #457b9d;
    text-decoration: none;
    font-weight: 700;
}


/*
Any button within the "post" class has this applied to it.
*/
.post button:hover {
    color: #012514;
    background-color: #00d636;  
}

.post button:active {
    background-color: #614700;
}

.post a:hover {
    color: #5e0959;
    text-decoration: wavy underline;
}

/*
Some common examples of psuedo classes...

:hover - when the mouse is over obect
:active - when the item is actived, like when holding down click with a mouse
:any-link - any URL
:link - unvisited URLs
:visited - visited URLs
:checked - when radio buttons or checkboxes are filled
:nth-of-type() - specifies a certain number, like every third, evry fifth, etc.
*/

.post button {
    font-size: 20px;
    color: #00d636;
    background-color: #012514;
}

.tag {
    background-color: #b10020;
    color: #f1faee;
    font-size: 14px;
    letter-spacing: 0.1em;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 15px;
    font-weight: 400;
}

footer a {
    color: #ff002f;
    font-weight: 700;
}

/*
Any h2 that has a button directly after it (not a child of the h2) is selected with thsis scode

h2 + button {
    font-size: 20px;
    color: #00d636;
    background-color: #012514;
}
*/

/*
This selects any a (anchor) elements that are the DIRECT CHILD of the footer.
*/
footer > a {
    color: #457b9d;
    font-weight: 400;
}

/*
This selects and input elements with the listed type/value
Note: It's not functioning properly, but I'm not sure why.
It works as just "input" but not when I add the [type="password"]
*/
input [type="password"] {
    background-color: red;
    color: white;
}