/*  Style Guide

The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

White: hsl(0, 0%, 100%)
Light gray: hsl(212, 45%, 89%)
Grayish blue: hsl(220, 15%, 55%)
Dark blue: hsl(218, 44%, 22%)

Body Copy:
Font size (paragraph): 15px
Font family: [Outfit](https://fonts.google.com/specimen/Outfit)
Weights: 400, 700 
*/

:root {
    --gray-1: hsl(212, 45%, 89%);
    --blue-1: hsl(220, 15%, 55%);
    --blue-2: hsl(218, 44%, 22%);
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}