/*
Notes on values...
Relative values: em, rem, vh, vw, % (and more)
Absolute values: px, pt, cm, in, mm
*/

h1 {
    text-align: center;
    font-weight: 400; /* normal */
    text-decoration: coral wavy underline;
    letter-spacing: 15px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
 text-decoration: underline;
 letter-spacing: .3em;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    text-align: right;
    text-decoration: overline red;
    
}

p {
    line-height: 150%; /* Or you could use 1.5 */ 
    /* text-decoration: line-through wavy green; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 3px;
}

/*
This is for font boldness or thinness (depending on what the browser has access to.

Keyword values
font-weight: normal;
font-weight: bold;

Keyword values relative to the parent
font-weight: lighter;
font-weight: bolder;

Numeric keyword values:
font-weight: 100;
font-weight: 200;
font-weight: 300;
font-weight: 400; <-- normal
font-weight: 500;
font-weight: 600;
font-weight: 700; <-- bold
font-weight: 800;
font-weight: 900; 
*/

/*
This has to do with using lines above and below your words.
text-decoration: underline;
text-decoration: underline 10px;
text-decoration: overline red;
text-decoration: line-through;
text-decoration: underline dotted;
text-decoration: underline double;
text-decoration: overline wavy #FF0000;
text-decoration: none;
*/

/*
These are different ways to express the spacing between lines.
line-height: normal; 
line-height: 2.5; 
line-height: 3em; 
line-height: 150%; 
line-height: 32px; 
*/

/*
These are different ways to express the space between letters.
letter-spacing: normal;
letter-spacing: .2rem;
letter-spacing: 1px;
letter-spacing: -1px;

Other examples:
.normal   { letter-spacing: normal; }
.em-wide  { letter-spacing: 0.4em; }
.em-wider { letter-spacing: 1em; }
.em-tight { letter-spacing: -0.05em; }
.px-wide  { letter-spacing: 6px; }
*/


/*
Options for the font size.

<absolute-size> values 
font-size: xx-small;
font-size: x-small;
font-size: small;
font-size: medium;
font-size: large;
font-size: x-large;
font-size: xx-large;
font-size: xxx-large;

<relative-size> values 
font-size: smaller;
font-size: larger;

<length> values 
font-size: 12px;
font-size: 0.8em;

<percentage> values 
font-size: 80%;
*/

/* 
Examples:
font-family: Georgia, serif;
font-family: "Gill Sans", sans-serif;

A font family name and a generic family name:
font-family: "Gill Sans Extrabold", sans-serif;
font-family: "Goudy Bookletter 1911", sans-serif;

A generic family name only:
font-family: serif;
font-family: sans-serif;
font-family: monospace;
font-family: cursive;
font-family: fantasy;
font-family: system-ui;
font-family: ui-serif;
font-family: ui-sans-serif;
font-family: ui-monospace;
font-family: ui-rounded;
font-family: emoji;
font-family: math;
font-family: fangsong;
*/