html {
    font-size: 10px;
}

section {
    background-color: #a9d8d8;
    width: 800px;
    height: 800px;
}

div {
    background-color: #502350;
    width: 50%;
    height: 50%;
}
h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

/* An "em" unit at 1 is 1 multiple of the font size of the parent, 2em is twice, etc. The only EXCEPTION is when it's used in other properties, then it's a mutliple of the element's font-size. */
p {
    font-size: 1em;
}

h2 {
    font-size: 2em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}

article {
    font-size: 15px;
}

/* the "em" units are referencing the parent element - the article's font-size.
They can be added to other elements like the h1 or the section and they look different from the original. */
button {
    background-color: #231769;
    color: #ffffff;
    font-size: 0.75em;
    padding: 0 1em;
    border-radius: 1em;
}

/* A shortcoming of "em" units in this example: the parent is each ul element, so it starts with the article font size (originally 15px), then mutliplies by 1.5 for the first ul, then another 1.5 for the second ul, etc. It will also shrink if the em is less than 1. */
ul {
    font-size: 1.5em;
}

/* The "rem" unit is based on the root html element, which is the "<html lang="en">" in the document for this example (also coded at the top of this CSS file) */
#rems h2 {
    font-size: 3rem;
}

#rems h3 {
    font-size: 2rem;
}

#rems ul {
    font-size: 0.8rem;
}